body {
    min-height: 100vh;
    background: #eee;
    display: flex;
    color: $dark;
    background-image: linear-gradient(174deg,
            $default 2%,
            $default 46%,
            #ffffff 46%,
            #ffffff 100%,
            #e8e8e8 100%);
    letter-spacing: 0.07em;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5rem;
    font-weight: bold;

    @include w-sm {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.container {
    margin: 3rem auto 1.5rem auto;
    padding: 0 12px;
    width: 500px;

    @include w-sm {
        margin-top: 1.5rem;
    }
}

.card {
    margin-bottom: 0.5rem;
    max-width: 100%;
    padding: 1rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

input[type='text'] {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1rem;
    padding-right: 1rem;
    color: $dark;
    //CSS::佔位符選擇器，::placeholder選擇器可將佔位符文字的顏色做修改
    &::placeholder {
        color: $gray;
    }
}

.input {
    padding: 4px 4px 4px 1rem;
    display: flex;
}

input[type="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: $dark;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}


.main {
    padding: 0;
    &.list-empty {
        display: none;
    }
    ul {
        display: flex;
        li {
            text-align: center;
            font-size: 14px;
            letter-spacing: 0.7px;
        }
    }

}

.menu {
    display: flex;
    text-align: center;
    color: $gray;
    font-size: 14px;

    li {
        padding: 1rem;
        width: 100%;
        border-bottom: 2px solid $light;

        &.menu-active {
            border-bottom: 2px solid $dark;
            color: $dark;
            font-weight: bold;
        }
        &:hover {
            cursor: pointer;
            color: $dark;
            border-color: rgba(51, 51, 51, 0.3);
        }
    }
}

.cart_content {
    padding: 0.5rem 1rem 1rem 1rem;

    @include w-sm {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
}

.list {
    flex-direction: column;
    li {
        position: relative;
        padding-right: 2rem;
        display: flex;
        align-items: center;

        @include w-sm {
            padding-right: 0;
        }

        .list-delete {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: $dark;
            display: block;
            width: 1rem;
            height: 1rem;
            background-image: url("../images/delete.png");
            
            background-size: contain;
            @include w-sm {
                opacity: 1;
                width: 12px;
                height: 12px;
            }
        }
        /*游標移動到li和.list-delete，顯示delete*/
        &:hover .list-delete {
            opacity: 1;
        }
        p:hover, .checkbox:hover, .list-delete:hover {
            cursor: pointer;
        }
  
        &.checkbox-checked {
            p {
                text-decoration: line-through;
                color: rgba(51, 51, 51, 0.3);
            }
            .checkbox {
                border-color: transparent;
                &::after {
                    opacity: 1;
                }
            }
        }
        p {
            display: block;
            text-align: left;
            width: calc(90% - 40px);
            font-size: 16px;
            letter-spacing: 0.7px;
            border-bottom: 1px solid #EFEFEF;
            user-select: none;
            overflow: hidden;
            // box-sizing: border-box;
            position: relative;
            padding: 24px 5%;
            &::after {
                content: "";
                width: 5%;
                height: 100%;
                background: #FFFFFF;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .checkbox {
            /*核取方塊*/
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #333333;
            border-radius: 5px;
            transition: all 0.3s;
            margin-left: 5%;
            &::after {
                opacity: 0;
                content: "";
                display: block;
                width: 10px;
                height: 100%;
                border-bottom: 2px solid #25bda9;
                border-right: 2px solid #25bda9;
                /*將用border做成的勾勾轉向*/
                transform: translate(4px, -3px) rotate(45deg);
                transition: all 0.3s;
            }
        }
    }
}

.list_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem 1rem 0.5rem;
    font-size: 14px;
    a {
        color: $gray;
    }

    @include w-sm {
        padding: 1.5rem 0 1rem 0.5rem;
    }
}
